.c-search-menu {
    margin: 1rem 4rem;
}

.c-search-menu__label {
    width: 6rem;
    display: inline-block;
}

.c-search-menu__button {
    border: none;
    padding: .5rem;
    cursor: pointer;
}

.c-search-menu__menu-container {
    max-height: 0;
    transition: all .3s ease-in-out;
    margin-left: 0;
    padding: 0;
    overflow-y: scroll;
    position: absolute;
    background: white;
    z-index: 1;
}

.c-search-menu__menu-container--open {
    max-height: 20rem;
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.c-search-menu__menu {
    font-family: "Lato", Helvetica, sans-serif;
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c-search-menu-breadcrum-cat {
    padding: .5rem;
    background: #009688;
    color: white;
}

.c-search-menu-breadcrum-cat:hover {
    background: #80cbc4;
}

.c-search-menu-breadcrum-sub-cat {
    padding: .5rem;
    background: #4db6ac;
    color: white;
}

.c-search-menu-breadcrum-sub-cat:hover {
    background: #80cbc4;
}

.c-search-menu-breadcrum-sub-sub-cat {
    padding: .5rem;
    background: #b2dfdb;
    color: #009688;
}

.c-search-menu-breadcrum-sub-sub-cat:hover {
    background: #e0f2f1;
}

.c-search-menu__caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .2rem;
    vertical-align: middle;
    border-top: .4rem solid;
    border-right: .4rem solid transparent;
    border-left: .4rem solid transparent;
}

.c-search-menu__li {
    background: #009688;
    color: white;
    width: 100%;
    padding: .5rem .5rem .5rem 2rem;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}

.c-search-menu__li:hover {
    background: #26a69a;
}

.c-search-menu__sub-menu {
    list-style-type: none;
    padding: 0;
}

.c-search-sub-menu__li {
    background: #4db6ac;
    color: white;
    width: 100%;
    padding: .5rem .5rem .5rem 4rem;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}

.c-search-sub-menu__li:hover {
    background: #80cbc4;
}

.c-search-menu__sub-sub-menu {
    list-style-type: none;
    padding: 0;
}

.c-search-sub-sub-menu__li {
    background: #b2dfdb;
    color: #009688;
    width: 100%;
    padding: .5rem .5rem .5rem 6rem;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}

.c-search-sub-sub-menu__li:hover {
    background: #e0f2f1;
}
