:root {
    --paleGrey: #f5f6f7;
    --silver: #d6d8da;
    --scienceBlue: #0b61d6;
    --lightBlue: #428bca;
}

body {
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}
.label--decoration:after {
    content: " :";
}

.menu__icon {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 10vh;
}

.menu__icon--mini {
    background-image: url('/static/mini.png');
}

.menu__icon--super {
    background-image: url('/static/super.png');
}

.menu__icon--maxi {
    background-image: url('/static/maxi.png');
}

.menu__icon--prof {
    background-image: url('/static/prof.png');
}

.apps__container {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}

.apps {
    position: relative;
    background:  var(--silver);
    min-height: 68vh;
}

.apps__results {
    padding: 0.5rem;
    text-align: center;
}

.app__element {
    position: relative;
    width: 10rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: solid 1px grey;
    transition: background-color .5s ease-out;
}

.app__element:hover {
    cursor: pointer;
    background-color: grey;
}

.app__name {
    padding: 1rem 0;
    height: 5rem;
}

.app__img {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    height: 48px;
}

.app-details__img {
    height: 48px;
}
