.c-shell__container {
    overflow: hidden;
    width: 50%;
    position: fixed;
    bottom: 0.5rem;
}

.c-shell__label {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background: var(--silver);
    font-weight: bold;
    cursor: pointer;
}

.c-shell__label:hover {
    background: darken( #2c3e50, 10%);
}

.c-shell__label::after {
    content: "\276F";
    width: 1rem;
    height: 1rem;
    text-align: center;
    transition: all .35s;
}

.c-shell__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.c-shell__content {
    margin-top: 0;
    max-height: 0;
    padding: 0 1rem;
    color:  #2c3e50;
    background: white;
    transition: all .35s;
    margin: 0;
}

.c-shell__content-decoration {
    border: solid 1px var(--silver);
    padding: 1rem;
}

.c-shell__checkbox:checked + .c-shell__label {
    background: darken($midnight, 10%);
}

.c-shell__checkbox:checked + .c-shell__label::after {
    transform: rotate(90deg);
}

.c-shell__checkbox:checked  ~ .c-shell__content {
    display: contents;
    padding: 1rem;
}

.c-shell__code-container {
    margin: 0;
    background: black;
    color: white;
    padding: .5rem;
    height: 12vh;
    overflow: auto;
    height: 20vh;
}

.c-shell__code {
    width: 100%;
    
}
