.c-pagination__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

.c-pagination__link {
    cursor: pointer;
    padding: .5rem;
    background: white;
    display: inline-block;
    border: solid 1px grey;
}

.c-pagination__link--selected {
    cursor: pointer;
    padding: .5rem;
    color: white;
    background:  var(--scienceBlue);
    display: inline-block;
    border: solid 1px var(--scienceBlue);
}

.c-pagination__link--disabled {
    cursor: default;
    padding: .5rem;
    background: grey;
    display: inline-block;
    border: solid 1px grey;
}
