:root {
    --c-modal-color-grey: rgb(90, 90, 90);
}

.c-modal__mask {
    content: '';
    z-index: -1;
    top: 0;
    position: absolute;
    background: white;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s ease-in-out;
}

.c-modal__mask--apply {
    content: '';
    z-index: 1;
    opacity: .8;
}

.c-modal__close {
    position: absolute;
    right: -1.2em;
    top: -1.5em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.c-modal__close:before,
.c-modal__close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: .3rem 0 0 -1px;
    top: 0;
    transform: rotate(-45deg);
}

.c-modal__close:after {
    transform: rotate(45deg);
}

.c-modal__container {
    background: white;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    box-shadow: 1px 1px 12px #555;
    width: 66%;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.c-modal__container--hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

.c-modal__title {
    position: absolute;
    top: -1.5rem;
    margin: 0;
    color: var(--c-modal-color-grey);
}

.c-modal__body {
    background: white;
    padding: 1rem;
}

.c-modal__footer {
    padding: 1rem;
    border-top: dashed 1px var(--c-modal-color-grey);
    text-align: right;
}
