<h3 class="c-modal__title">Application : {{ app.name }}</h3>
<div class="c-modal__close"
    onclick="c_modal__close()">
</div>
<div class="c-modal__body">
    {% if not in_depot %}
        <div class="c-alert c-alert--warning">
            Ce logiciel n'est pas présent dans votre dépôt apt.
        </div>
    {% endif %}
    <h2>{{ app.name }}</h2>
    <img class="app-details__img" src="static{{ app.icon_path }}">
    {% if app.description %}
        <div class="app-details__description">
            {{ app.description|safe }}
        </div>
    {% endif %}
    <div>
        <label class="label--decoration">License</label>
        <span class="app-details__license">
            {% if app.license %}
                {{ app.license }}
            {% else %}
                non définit
            {% endif %}
        </span>
    </div>
    {% if app.link %}
        <div>
            <label class="label--decoration">Lien de l'éditeur</label>
            <a class="app-details__link"
                href="{{ app.link }}"
                target="_blank">
                {{ app.link }}
            </a>
        </div>
    {% endif %}
</div>
{% if in_depot %}
    <div class="c-modal__footer">
        {% if is_installed %}
            <button onclick="launch_app({{ app.id }});">Lancer</button>
        {% endif %}
        {% if is_installed and session.type == 'prof' %}
            <button onclick="uninstall_app({{ app.id }});">Désinstaller</button>
        {% endif %}
        {% if not is_installed and session.type == 'prof' %}
            <button onclick="install_app({{ app.id }});">Installer</button>
        {% endif %}
    </div>
{% endif %}
