<div class="apps">
    <div class="apps__results">
        {% if nb_apps == 1 %}
            {{ nb_apps }} résultat
        {% else %}
            {{ nb_apps }} résultats
        {% endif %}
    </div>
    {% if apps is not none and apps|length != 0 %}
        <ul class="apps__container">
            {% for app in apps %}
                <li class="app__element"
                    onclick="show_details('{{ session.type }}', {{ app.id }})">
                    <div class="app__name">
                        {{ app.name }}
                    </div>
                    <img class="app__img"
                         src="static{{ app.icon_path }}" />
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% include 'pagination.html' %}
</div>
