<link rel="stylesheet" href="/static/css/modal/style.css">
<link rel="stylesheet" href="/static/css/shell/style.css">
<link rel="stylesheet" href="/static/css/progressbar/style.css">
<link rel="stylesheet" href="/static/css/pagination/style.css">
<link rel="stylesheet" href="/static/css/searchmenu/style.css">
<link rel="stylesheet" href="/static/css/style.css">
