<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <h1>{{ session.name }} ({{ session.cycle }})</h1>
        <div class="menu__icon menu__icon--{{ session.type }}"></div>
        <div class="search">
            {% include 'menu.html' %}
        </div>
        <div class="c-app__container">
            {% include 'apps.html' %}
        </div>
        <div class="c-modal__mask" onclick="c_modal__close()"></div>
        <div class="c-modal__container"></div>
        {% if session.type == 'prof' %}
            {% include 'install_progression.html' %}
        {% endif %}
    </body>
    {% include 'js.html' %}
</html>
