<div class="c-shell__container">
    <input class="c-shell__checkbox" type="checkbox" id="c-shell-ck">
    <label class="c-shell__label" for="c-shell-ck">Installation application 1 /5</label>
    <div class="c-shell__content">
        <div class="c-shell__content-decoration">
            <pre class="c-shell__code-container">
                <code id="shell-install-apps" class="c-shell__code">
                </code>
            </pre>
    </div>
</div>
