<script src="/static/js/script.js"></script>
<script src="/static/js/install-app.js"></script>
<script src="/static/js/modal/script.js"></script>
<script src="/static/js/searchmenu/script.js"></script>
