{% macro sub_sub_menu(session, menu, menu_url, submenu_url) %}
    {% if menu is not none and menu|length != 0 %}
        <ul class="c-search-menu__sub-sub-menu">
            {% for entry in menu %}
                {% set entry_url = entry.name|replace("'", "\\'") %}
                <li>
                    <span 
                    onclick="c_menu_go_category('{{ session.type }}', 0, '{{ menu_url }}', '{{ submenu_url }}', '{{ entry_url }}')"
                    class="c-search-sub-sub-menu__li">
                        {{ entry.name }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro sub_menu(session, menu, menu_url, submenu_url) %}
    {% if menu is not none and menu|length != 0 %}
        <ul class="c-search-menu__sub-menu">
            {% for entry in menu %}
                {% set entry_url = entry.name|replace("'", "\\'") %}
                <li>
                    <span
                    onclick="c_menu_go_category('{{ session.type }}', 0, '{{ menu_url }}', '{{ entry_url }}')"
                    class="c-search-sub-menu__li">
                        {{ entry.name }}
                    </span>
                    {{ sub_sub_menu(session, entry.menu, menu_url, entry_url) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
<div class="c-search-menu">
    <!--<label class="c-search-menu__label label--decoration">
        Recherchez
    </label>
    -->
    <button
        class="c-search-menu__button"
        onclick="open_search()"
        onblur="close_search()">
        <span id="c-search-menu-breadcrum-all-notions">
            Toutes les notions
        </span>
        <span class="c-search-menu-breadcrum"
            id="c-search-menu-breadcrum">
            <span class="c-search-menu-breadcrum-cat hidden"
                id="c-search-menu-breadcrum-cat"
                ></span>
            <span class="c-search-menu-breadcrum-sub-cat hidden"
            id="c-search-menu-breadcrum-sub-cat"></span>
            <span class="c-search-menu-breadcrum-sub-sub-cat hidden" 
            id="c-search-menu-breadcrum-sub-sub-cat"></span>
        </span>
        <span class="c-search-menu__caret"></span>
    </button>
    <div id="c-search-menu" class="c-search-menu__menu-container">
        <ul class="c-search-menu__menu">
            {% for menu in session.menu %}
                {% set menu_url = menu.name|replace("'", "\\'") %}
                <li>
                    <span 
                    onclick="c_menu_go_category('{{ session.type }}', 0, '{{ menu_url }}', '')"
                    class="c-search-menu__li">
                        {{ menu.name }}
                    </span>
                    {{ sub_menu(session, menu.menu, menu_url) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
