{% if pagination is not none and pagination|length > 1 %}
    <ul class="c-pagination__container">
        {% if page_index == 0 %}
            <li class="c-pagination__link--disabled">premier</li>
            <li class="c-pagination__link--disabled">précédent</li>
        {% else %}
            <li class="c-pagination__link"
                onclick="go_category('{{ session.type }}', 0, '{{ cat_name }}', '{{ sub_cat_name }}', '{{ sub_sub_cat_name }}')">
                premier
            </li>
            <li class="c-pagination__link"
                onclick="go_category('{{ session.type }}', {{ page_index - 1 }}, '{{ cat_name }}', '{{ sub_cat_name }}', '{{ sub_sub_cat_name }}')">
                précédent
            </li>
        {% endif %}
        {% for page in pagination %}
            {% if page == '...' %}
                <li class="c-pagination__link--disabled">
                    {{ page }}
                </li>
            {% elif (page - 1) == page_index %}
                <li class="c-pagination__link--selected"
                    onclick="go_category('{{ session.type }}', {{ page - 1 }}, '{{ cat_name }}', '{{ sub_cat_name }}', '{{ sub_sub_cat_name }}')">
                    {{ page }}
                </li>
            {% else %}
                <li class="c-pagination__link"
                    onclick="go_category('{{ session.type }}', {{ page - 1 }}, '{{ cat_name }}', '{{ sub_cat_name }}', '{{ sub_sub_cat_name }}')">
                    {{ page }}
                </li>
            {% endif %}
        {% endfor %}
        {% if page_index == (pagination|last - 1) %}
            <li class="c-pagination__link--disabled">suivant</li>
            <li class="c-pagination__link--disabled">dernier</li>
        {% else %}
            <li class="c-pagination__link"
            onclick="go_category('{{ session.type }}', {{ page_index + 1 }}, '{{ cat_name }}', '{{ sub_cat_name }}', '{{ sub_sub_cat_name }}')">
                suivant
            </li>
            <li class="c-pagination__link"
                onclick="go_category('{{ session.type }}', {{ pagination|last - 1 }}, '{{ cat_name }}', '{{ sub_cat_name }}', '{{ sub_sub_cat_name }}')">
                dernier
            </li>
        {% endif %}
    </ul>
{% endif %}
